extends layout

block content

    p
        a.button(href='https://drive.google.com/uc?export=download&id=1lDQgX9JJgFjc_SHvGSEyVtYaIMSxALV9')  Download PDF
    iframe(height='500' width='100%' src='https://docs.google.com/document/d/e/2PACX-1vSzzbWcU-N4ErKgm7AJ2hF37WlRo9OMp2U3gDFPgpTNIOT7GY-8oQ5mr4e1svMfUehT6vrwyz5T1kyL/pub?embedded=true')
