extends layout

block content
    p Hello! My name is Jacqueline Catlin.

    p Welcome to my personal portfolio where I will be uploading all of my personal projects.

    p Currently I have set up this up as a template for somewhere to begin, but much more will be coming soon.

    p But please! Have a look around, and if you would like to contact me for any reason just email me at
        a(href='mailto:jackicatlin91@live.co.uk') jackicatlin91@live.co.uk


