
html
    head
        title= title
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')

        block scripts
            script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js", integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ", crossorigin="anonymous")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js", integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm", crossorigin="anonymous")

    body

        #carouselExampleIndicators.carousel.slide.carousel-fade(data-ride='carousel' data-interval='5000' style="height:100% width:100%")
            .carousel-inner(style="height:100% width:100%")
                .carousel-item.active(style="height:100% width:100%")
                    img.d-block.w-100(src='public/images/img1.jpeg' alt='First slide')
                .carousel-item(style="height:100% width:100%")
                    img.d-block.w-100(src='public/images/img2.jpg' alt='Second slide')
                .carousel-item(style="height:100% width:100%")
                    img.d-block.w-100(src='public/images/img3.jpg' alt='Third slide')
