body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#F7F7F7
}

a {
  color: #00B7FF;
}


/*for the carousel*/

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}


/*for the cards*/

section{
  padding: 60px 0;
}
section .section-title{
  text-align:center;
  color:#007bff!important;
  margin-bottom:50px;
  text-transform:uppercase;
}

#what-we-do .card{
  padding: 1rem!important;
  border: none;
  margin-bottom:1rem;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#what-we-do .card:hover{
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
  padding-left: 50px;
  position: relative;
}
#what-we-do .card .card-block a{
  color: #007bff!important;
  font-weight:700;
  text-decoration:none;
}
#what-we-do .card .card-block a i{
  display:none;

}
#what-we-do .card:hover .card-block a i{
  display:inline-block;
  font-weight:700;

}
#what-we-do .card .card-block:before{
  font-family: FontAwesome;
  position: absolute;
  font-size: 39px;
  color: black;
  left: 0;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
  content: "\f0e7";
}
#what-we-do .card .block-2:before{
  content: "\f0eb";
}
#what-we-do .card .block-3:before{
  content: "\f00c";
}
#what-we-do .card .block-4:before{
  content: "\f209";
}
#what-we-do .card .block-5:before{
  content: "\f0a1";
}
#what-we-do .card .block-6:before{
  content: "\f218";
}
#what-we-do .card:hover .card-block:before{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

