extends ../layout

block content

    section#what-we-do
        .container-fluid
            h2.section-title.mb-2.h1 #{catagory} Catagory
            p.text-center.text-muted.h5
                | This is placeholder text which will be a description of the catagory
            .row.mt-5
                .col-xs-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
                    .card
                        .card-block.block-1
                            h3.card-title Project title
                            p.card-text With supporting text below as a natural lead-in to additional content.
                            a.read-more(href='projectTemp?cat='+catagory+'&project=1st' title='Click here to go to this project')
                                | See this project
                                i.fa.fa-angle-double-right.ml-2
                .col-xs-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
                    .card
                        .card-block.block-2
                            h3.card-title Project title
                            p.card-text With supporting text below as a natural lead-in to additional content.
                            a.read-more(href='projectTemp?cat=' + catagory + '&project=2nd' title='Click here to go to this project')
                                | See this project
                                i.fa.fa-angle-double-right.ml-2
                .col-xs-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
                    .card
                        .card-block.block-3
                            h3.card-title Project title
                            p.card-text With supporting text below as a natural lead-in to additional content.
                            a.read-more(href='projectTemp?cat=' + catagory + '&project=3rd' title='Click here to go to this project')
                                | See this project
                                i.fa.fa-angle-double-right.ml-2
            .row
                .col-xs-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
                    .card
                        .card-block.block-4
                            h3.card-title Project title
                            p.card-text With supporting text below as a natural lead-in to additional content.
                            a.read-more(href='projectTemp?cat=' + catagory + '&project=4th' title='Click here to go to this project')
                                | See this project
                                i.fa.fa-angle-double-right.ml-2
                .col-xs-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
                    .card
                        .card-block.block-5
                            h3.card-title Project title
                            p.card-text With supporting text below as a natural lead-in to additional content.
                            a.read-more(href='projectTemp?cat=' + catagory + '&project=5th' title='Click here to go to this project')
                                | See this project
                                i.fa.fa-angle-double-right.ml-2
                .col-xs-12.col-sm-6.col-md-4.col-lg-4.col-xl-4
                    .card
                        .card-block.block-6
                            h3.card-title Project title
                            p.card-text With supporting text below as a natural lead-in to additional content.
                            a.read-more(href='projectTemp?cat=' + catagory + '&project=6th' title='Click here to go to this project')
                                | See this project
                                i.fa.fa-angle-double-right.ml-2
