extends ../layout

block content

    h1(style="padding-bottom: 3%") Welcome to the #{project} #{catagory} project page.

    div(style="padding-bottom: 3%")
        .card
            .card-header Issue Description
            .card-body Description of the issue Description of the issue Description of the issue Description of the issue Description of the issue Description of the issue Description of the issue Description of the issue


    div(style="padding-bottom: 3%")
        .card
            .card-header Solution Here
            .card-body Solution Content


    .row
        .col-sm-4
            script(async='' height="100%" src='//jsfiddle.net/zalun/NmudS/embed/js/')

        .col-sm-4
            script(async='' height="100%" src='//jsfiddle.net/zalun/NmudS/embed/html/')

        .col-sm-4
            script(async='' height="100%" src='//jsfiddle.net/zalun/NmudS/embed/css/')


    script(async='' src='//jsfiddle.net/zalun/NmudS/embed/js, html, css/')


